<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Renders</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/chance/1.0.8/chance.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h3>
    Visualize Points
  </h3>



  <div class="container">
    <div class="row">
      <div class="col-8 block" id="render-port">
      </div>
      <div class="col">

        <div>
          <h5>
            <i class="fas fa-mouse-pointer"></i>
            <small class="text-muted" id="header-label">One Moment</small>
          </h5>

          <div id="vue-forms">
            <div class="form-group center">
              <button type="button" class="btn btn-primary" v-on:click="addNewPointSet">
                <i class="fas fa-plus-circle"></i> Point Set</button>
            </div>
            <template v-for="(item, index) in pointSets">
              <form class="border rounded pad stripe set" id="my-set">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="visible-check" v-model="item.visible">
                      <label class="form-check-label" for="visible-check">{{ item.visible ? 'Visible' : 'Invisible' }}</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-danger" v-on:click="pointSets.splice(index, 1)">
                      <i class="fas fa-times-circle"></i>
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#my-set">
                      <i class="fas fa-eye-slash"></i>
                    </button>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="name-input" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input id="name-input" class="form-control" v-model="item.name" placeholder="Name">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="color-input" class="col-sm-2 col-form-label">Color</label>
                  <div class="col-sm-10">
                    <input id="color-input" class="form-control" v-model="item.color0" placeholder="#3A015C">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="size-input" class="col-sm-2 col-form-label">Size</label>
                  <div class="col-sm-10">
                    <input class="form-control" v-model="item.size" placeholder="0.2" type="number" min="0.05" max="2.0" step="0.1">
                  </div>
                </div>


                <div class="form-group row">
                  <label for="type-select" class="col-sm-2 col-form-label">Type</label>
                  <div class="col-sm-10">
                    <select id="type-select" class="form-control" v-model="item.type">
                      <option>cloud</option>
                      <option>path</option>
                      <option>vector</option>
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <textarea class="form-control data-set" v-model="item.points_raw" placeholder="json of points"></textarea>
                </div>

              </form>
            </template>

            <hr />
            <form>
              <div class="form-group">
                <label for="txtfiletoread">JSON Payload</label>
                <input type="file" class="form-control-file" id="txtfiletoread" />
              </div>
            </form>

            <form class="border border-info">
              <div>
                <textarea class="form-control data-set" v-model="fullset" placeholder="[]"></textarea>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="THREE.MeshLine.js"></script>
  <script src="trackballcontrols.js"></script>
  <script src="stats.min.js"></script>
  <script src="index.js"></script>
</body>

</html>