<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Renders</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/chance/1.0.8/chance.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.24.1/ramda.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <h3>View points
    <span id="header-label"></span>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-8 block" id="render-port">
      </div>
      <div class="col">

        <div>
          <form>
            <div class="form-group">
              <label for="txtfiletoread">JSON Payload</label>
              <input type="file" class="form-control-file" id="txtfiletoread" />
            </div>
          </form>
          <div id="vue-forms">
            <button class="btn btn-primary" v-on:click="addNewPointSet">Add Point Set</button>
            <template v-for="(item, index) in pointSets">
              <form class="border border-info">

                <div class="form-group">
                  <label for="name-input">Group Name</label>
                  <input id="name-input" class="form-control" v-model="item.name" placeholder="Name">
                  <small class="form-text text-muted">Labels show up on hover.</small>
                </div>

                <div class="form-group">
                  <label for="color-input">Group Color</label>
                  <input id="color-input" class="form-control" v-model="item.color0" placeholder="#3A015C">
                  <small class="form-text text-muted">Hex label with # prefix.</small>
                </div>

                <div class="form-group">
                  <label for="color-input">Element Size</label>
                  <input class="form-control" v-model="item.size" placeholder="0.2" type="number" min="0.05" max="2.0" step="0.1">
                  <small class="form-text text-muted">Value is local - not scaled based on content.</small>
                </div>


                <div class="form-group">
                  <label for="type-select">Group Type</label>
                  <select id="type-select" class="form-control" v-model="item.type">
                    <option>cloud</option>
                    <option>path</option>
                    <option>vector</option>
                  </select>
                  <small class="form-text text-muted">Note: 'vector' type must have an even number of elements.</small>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="visible-check" v-model="item.visible">
                    <label class="form-check-label" for="visible-check">{{ item.visible ? 'Visible' : 'Invisible' }}</label>
                  </div>
                </div>

                <div class="form-group">
                  <textarea class="form-control" v-model="item.points_raw" placeholder="json of points"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-danger" v-on:click="pointSets.splice(index, 1)">X</button>
                </div>
              </form>
            </template>

            <form class="border border-info">

              <div>
                <textarea class="form-control" v-model="fullset" placeholder="[]"></textarea>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="THREE.MeshLine.js"></script>
  <script src="trackballcontrols.js"></script>
  <script src="stats.min.js"></script>
  <script src="index.js"></script>
</body>

</html>