div.data-col>form.set:nth-of-type(even) {
  background: #e0e0e0;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  white-space: nowrap;
}

.block {
  height: -webkit-calc(100vh - 3em);
  height: -moz-calc(100vh - 3em);
  height: calc(100vh - 3em);
  padding: 0;
}

form.pad {
  padding: 0.4em;
  margin: 0.2em;
  margin-top: 0.6em;
}

.data-set {
  font-family: monospace;
}

.center {
  text-align: center;
}

no-gutters {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.data-col {
  height: -webkit-calc(50vh);
  height: -moz-calc(50vh);
  height: calc(50vh);
  overflow: scroll;
}

body {
  background: #e9ecef;
}