#vue-forms > form:nth-of-type(odd) {
    background: #e0e0e0;
}

h3 {
  text-align: center;
}
h4 {
  text-align: center;
}

.block {
  height: -webkit-calc(100vh - 72px);
  height: -moz-calc(100vh - 72px);
  height: calc(100vh - 72px);
  padding: 0;
}

form.pad {
  padding: 0.4em;
  margin: 0.2em;
  margin-top: 0.6em;
}